@charset "UTF-8";


*{
    margin: 0px; /* vamos zerar o margem*/
    padding: 0px;/* zerado tamnem*/
    font-family: Arial, Helvetica, sans-serif;
}
/* html e body vamos configuração basica*/
html,body{
    height: 100vh; /* altura*/
    width: 100vw;/* largura */
    background-color: black;
}
/* configurar o fundo madeirado do meu site, colocaar loog no body(corpo)*/
body{
    background-image:url(../imagens/fundo-madeira.jpg) ;/* colocando o fundo madeirado */
    /*colocar pra ele nao repeti*/
    background-repeat: no-repeat;
    /*colocar ele em cima e no meio */
    background-position: top center;/* posicionamento */
    /*vamos mexes no tamanho dlee*/
    background-size: cover;
    /* vamos fixar pra nao tem rolagem */
    background-attachment: fixed;/*fixa a imagem no fundo da tela*/

}
main{ /* parte principal do site*/
    position: relative;/* posicao relativa ao site fixa basicamente*/ 
    height: 100vh;/*configuraçaõ do tamanho do site
    e ele ficou 100% coberto pq o paddin e margim estao zerados*/
   
   
}
/* vamos começar as configurações do celular.
eu quero sempre que a parte verde fique em baixo da parte azul,por isso sempre coloco a position :relative e apos isso position :Absolute*/
section#telefo{
    position: absolute;/*a parti do momento que eu coloco o posicionamente absoluto , eu consigo configurar o top(topo) e o seu left (esquerdo) e ele pega e coloca a ponta do selection no meio e pra isso vamos usar o translate pra centralizar*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* no translate a primeira % é pra esquerda e a segunda é pra cima, e por isso quando aumenta e dimunui ele continua respposivo*/
    height: 627px;/* esssa altura e largura vai de acordo coma  imagem*/
    width: 311px;
  /*  background-color: blue; esse azul ficou somente pra configurar a largura e altura*/
   
    /* agora vamos colocar a imagem do telefone*/
    background-image: url(../imagens/frame-iphone.png);/* colocando a imagem*/
    background-repeat: no-repeat;/* configurei para nao repeti*/
    
}
iframe#tela{
    /*apos colocar a imagem no home.html dentro do iframe,vamos configurar a imagem para ficar dentro da tela do ceular parte preta*/
    position: relative;/* colocando a posicao relativa para pode mexer no top e no left*/
    /* fazendo o posicionamento ficar certinho dentro do celualr com top e left*/
    top: 80px;/*80 pra cima */
    left: 22px;/* 22px pra esquerda ficou boa dentro do celular*/
    width: 269px;/* o tamanho que ficou dentro do celular foi a largura de 269px*/
    height: 471px;/* altura de 471px*/
    /* apos isso a tela ta meio bagunçada ,vamos fazer que a tela fique cover la no html, nessa parte que eu ainda to comentando , ainda ta bagunçado, tem que colocar cover no home*/
}

/* caso eu queira uma configuração para ficar alo lado esquerdo*/
section#redes-sociais{
    text-align: right;
}


/* vamos fazer um configuração paras as imagens das rede sociasi dessa forma que vai buscar a tag img*/

section#redes-sociais img{
    /* vamos colocar so o width pq assim que configura a largura a altura automaticamente segue a mesma*/
    width: 60px;
    /* vamos separa ela um pouquinho*/
    margin: 10px; /* e dar um afastamento de 10px*/
    border-radius: 50%; /* para fazer o arrendodamento*/
    box-sizing: border-box; /* a borda vai ficar somente dentro do botos*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
   
}
section#redes-sociais img:hover{
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.342);/* uma sombra bem leve*/
    border: 2px solid rgba(255, 255, 255, 0.664);/* borda transparente*/
    width: 65px;/* aumentar o tamanho quando passar emn cima*/
    box-sizing: border-box;/* denbtro da caixa*/
    /* caso eu queri que ele vai um pouco pra esquerda,usar o transform traslate*/
    transform: translate(-5px, -5px);/* ele deu uma leve ajustada pra esqeurda*/
    /* vamo fazer uma transicao para transform, quando passar em cima fazer a transicao em movimentos leves*/
    transition: transform .5s,img .5s,border 2s;
    
}